:root {
  --orange: #DB3F0E;
  --grey: #41403E;
  --navyellow: #F7F5C9;
  --poppins:  "Poppins", sans-serif;
}

.App {
  margin: 0;
}

/* Navbar */
nav {
  width: 100%;
  height: 80px;
  background-color: var(--navyellow);
  margin: 0;
  display: flex;
  flex-direction: row;
  font-family: var(--poppins) ;
  color: var(--orange)
}

nav img {
  height: 80px;
  width: auto;
  margin-left: 1rem;
}

nav ul {
  display: flex;
  flex-grow: 1; /* Allow the list to grow and take available space */
  justify-content: space-evenly; /* Distribute items evenly */
  list-style-type: none;
  padding: 1rem;
}

nav ul li a {
  color: var(--orange);
  text-decoration: none;
}


nav ul li a:hover {
  color: var(--grey);
 text-decoration: underline;
}



/* Homepage */
 .home {
  background-color: #ffffdf;
 width: 100%;
}  

.slideshow-container {
  position: relative;
  max-width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px; /* Set the height for the container */

}

.slide {
  display: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  display: flex; /* Display active slides */
}

.slide img {
 
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 500px;  /* Fixed height */
  width: 800px;   /* Fixed width */
  object-fit: contain; /* Ensure the image is contained within the fixed dimensions */
}

.slide img {
  filter: blur(10px); /* Start with a blurred image */
  transition: filter 1.5s ease;
}

.active img {
  filter: blur(0px); /* Clear the blur on the active image */
}

/* Services */
.services {
  background-color: white;
  margin: 1rem;
  padding: 1rem;
  margin-top: 0;
  padding-top: 0;
  border: 2px solid var(--navyellow);
  box-shadow: 1px 2px 3px #FCFCFA;
 
}

.services {
  text-align: center;
 
}

.services h3 {
  color: var(--grey);
  font-size: 2rem;
  margin-bottom: 20px;
  padding: 0;
  text-decoration: underline;

  
}

.services-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.services-list li {
  background-color: var(--navyellow);
  margin: 10px;
  padding: 15px;
  border-radius: 8px;
  width: 200px;
  text-align: left;
  font-size: 1.2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  display: flex;
  align-items: center;
  color: var(--orange);
}

.services-list li span {
  margin-left: 10px;
  color: var(--grey);
}

.services-list li:hover {
  transform: translateY(-5px);
  background-color: #e8e8e8;
}

.services a {
  color: var(--orange);
  font-size: 19px;
}

.services a:hover {
  color: var(--grey);
}
/* Bookings */
.booking {
  padding: 1rem;
}

.booking p {
  color: var(--grey);
  font-size: 22px;
  padding: 0;
  margin: 1rem;
  text-align: center;
}

.lists {
  width: 100%;
  display: flex;
  justify-content: space-between; /* Distribute the services and event sections evenly */
  gap: 20px; /* Add some space between the service and event lists */
  list-style-type: none;
  border-bottom: 1px solid var(--orange);
}

.list-of-services, .list-of-events {
  flex: 1; /* Make both sections take equal space */
}




.list-of-services,
.list-of-events {
  background-color:#FCFCFA;;
  padding: 1rem;
  border-right: 1px solid var(--orange);
  padding-top: 0;
}

.list-of-events {
  border: none;
}

.list-of-services h3,
.list-of-events h3 {
  margin: 1rem;
  text-align: center;
  text-decoration: underline;
 color: var(--grey)
}

.book-a-service,
.event-types-list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  list-style-type: none;
  
}

.book-a-service li,
.list-of-events li {
  padding: 1rem;
  color: var(--orange);
border: 1px solid var(--orange);
margin: 2px;
font-family: var(--poppins);
border-radius: 5px;
transition: background-color 0.3s, border-color 0.3s;
}

.book-a-service li.selected,
.list-of-events li.selected {
  background-color: #e0f7fa; /* Light blue background for selected item */
  border-color: #00796b; /* Darker border color for selected item */
}

.lists h4 {
  padding-bottom: 0;
  margin-bottom: 0;
  color: var(--grey);
  text-decoration: underline;
}

.list-of-events {
  text-align: center;
  margin-top: 0;
  
}

.book-a-service li span,
.list-of-events li span {
  margin-left: 2px;
  color: var(--grey)
}

.book-a-service li:hover,
.list-of-events li:hover {
  transform: translateY(-5px);
  background-color: #e8e8e8;
}

.event-types-list {
  border: 1px solid var(--orange);
  padding: 1rem;
  border: 1px solid var(--grey);
  border-radius: 5px;
}

.event-types-list li {
  border: 1px solid var(--grey);
  color: var(--orange)
}

.bottom-part {
  display: flex;
}

.calendar {
  flex: 1;
  padding: 1rem;
  border-left: 1px solid var(--orange);
  text-align: center;
}

.calendar h3 {
  color: var(--grey);  
}

.calendar-container {
  display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
}

.calendar p {
  font-family: var(--poppins);
  font-size: 16px;
  color: var(--orange);
}

.bottom-part{
  display: flex;
  flex-direction: row;
  background-color: #FCFCFA;
}

.confirmation {
  flex: 1;
  border-left: 1px solid var(--orange);
  border-right: 1px solid var(--orange);
  background-color: #FCFCFA;
  padding: 1rem;
}

.confirmation h3 {
  color: var(--grey);
}

.confirmation h4 {
  padding-bottom: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.confirmation p {
  text-align: left;
  color: var(--grey);
  font-family: var(--poppins);
  padding: 0;
  font-size: 17px;
 line-height: 1rem;
}

.confirmation p span {
  color: var(--orange);
  text-decoration: underline;
}

.confirmation form label {
  color: var(--grey);
  font-family: var(--poppins)
}

.confirmation .bo {
  width: 100%;
}

.confirmation form input {
padding: 1rem;

}