:root {
  --orange: #DB3F0E;
  --grey: #41403E;
  --navyellow: #F7F5C9;
  --poppins:  "Poppins", sans-serif;
  --montserrat: "Montserrat", sans-serif;
  --lora: "Lora", serif;
}

.App {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

/* Navbar */
nav {
  width: 100%;
  height: 80px;
  background-color: var(--navyellow);
  margin: 0;
  display: flex;
  flex-direction: row;
  font-family: var(--poppins) ;
  color: var(--orange)
}

nav img {
  height: 80px;
  width: auto;
  margin-left: 1rem;
}

nav ul {
  display: flex;
  flex-grow: 1; /* Allow the list to grow and take available space */
  justify-content: space-evenly; /* Distribute items evenly */
  list-style-type: none;
  padding: 1rem;
}

nav ul li a {
  color: var(--orange);
  text-decoration: none;
}


nav ul li a:hover {
  color: var(--grey);
 text-decoration: underline;
}

.hamburger {
  display: none; /* Hidden by default */
  
}

.hamburger-menu {
  display: none;
  border: none;
  background: none;
  cursor: pointer;
}

/* Homepage */
 .home {
  background-color: #ffffdf;
  background-color: #ECE8D5;
 width: 100%;
}  

.slideshow-container {
  position: relative;
  max-width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px; /* Set the height for the container */

}

.slide {
  display: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  display: flex; /* Display active slides */
}

.slide img {
 
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 500px;  /* Fixed height */
  width: 800px;   /* Fixed width */
  object-fit: contain; /* Ensure the image is contained within the fixed dimensions */
}

.slide img {
  filter: blur(10px); /* Start with a blurred image */
  transition: filter 1.5s ease;
}

.active img {
  filter: blur(0px); /* Clear the blur on the active image */
}

/* Services */
.services {
  background-color: white;
  padding: 1rem;
  margin-top: 0;
  padding-top: 0;
  border: 2px solid var(--navyellow);
  box-shadow: 1px 2px 3px #FCFCFA;
 
}

.services {
  text-align: center;
 
}

.services h3 {
  color: var(--grey);
  font-size: 2rem;
  margin-bottom: 20px;
  padding: 0;
  text-decoration: underline;

  
}

.services-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.services-list li {
  margin: 10px;
  padding: 0.5rem;
  border-radius: 8px;
  width: 200px;
  text-align: center;
  font-size: 1.2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  color: var(--grey);
}

.services-list li img {
  height: 200px;
  width: auto;
  object-fit: cover;
}

.services-list figcaption {
  padding-top: 1rem;
}

.services-list li span {
  margin-left: 10px;
  color: var(--grey);
}

.services-list li:hover {
  transform: translateY(-5px);
  background-color: #e8e8e8;
}

.services a {
  color: var(--orange);
  font-size: 19px;
}

.services a:hover {
  color: var(--grey);
}
/* Bookings */
.booking {
  padding: 1rem;
  background-color: #FCFCFA;
}

.booking-page {
  border: 1px solid var(--orange);
  border-radius: 5px;;
  background-color: white;
}

.booking p {
  color: var(--grey);
  font-size: 22px;
  padding: 0;
  margin: 1rem;
  text-align: center;
  
}

.lists {
  width: 100%;
  display: flex;
  justify-content: space-between; /* Distribute the services and event sections evenly */
  gap: 20px; /* Add some space between the service and event lists */
  list-style-type: none;
  border-bottom: 1px solid var(--orange);
 background-color: #FCFCFA;
 background-color: white;
}

.list-of-services, .list-of-events {
  flex: 1; /* Make both sections take equal space */
}




.list-of-services,
.list-of-events {
  border-right: 1px solid var(--orange);
  padding: 1rem;
  
  padding-top: 0;
}

.list-of-events {
  border: none;
}

.list-of-services h3,
.list-of-events h3 {
  margin: 1rem;
  text-align: center;
 color: var(--grey);
 font-family: var(--lora);
}

.book-a-service,
.event-types-list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  list-style-type: none;
  
}

.book-a-service li,
.list-of-events li {
  padding: 1rem;
  color: var(--orange);
border: 1px solid var(--orange);
margin: 2px;
font-family: var(--poppins);
border-radius: 5px;
transition: background-color 0.3s, border-color 0.3s;
}

.book-a-service li.selected,
.list-of-events li.selected {
  background-color: #e0f7fa; /* Light blue background for selected item */
  border-color: #00796b; /* Darker border color for selected item */
}

.lists h4 {
  padding-bottom: 0;
  margin-bottom: 0;
  color: var(--grey);
  text-decoration: underline;
}

.list-of-events {
  text-align: center;
  margin-top: 0;
  
}

.book-a-service li span,
.list-of-events li span {
  margin-left: 2px;
  color: var(--grey)
}

.book-a-service li:hover,
.list-of-events li:hover {
  transform: translateY(-5px);
  background-color: #FEFFF1;
}

.event-types-list {
  border: 1px solid var(--orange);
  padding: 1rem;
  border: 1px solid var(--grey);
  border-radius: 5px;
}

.event-types-list li {
  border: 1px solid var(--grey);
  color: var(--orange)
}

.event-types-list li:hover {
  border: 1px solid var(--orange);

}

.bottom-part {
  display: flex;
}

.calendar {
  flex: 1;
  padding: 1rem;
  text-align: center;
}

.calendar h3 {
  color: var(--grey);  
  font-family: var(--lora);
}

.calendar-container {
  display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
}

.calendar p {
  font-family: var(--poppins);
  font-size: 16px;
  color: var(--orange);
}

.bottom-part{
  display: flex;
  flex-direction: row;
  background-color: #FCFCFA;
}

.confirmation {
  flex: 1;
  border-left: 1px solid var(--orange);
  background-color: #FCFCFA;
  padding: 2rem;
  padding-top: 1rem;
  
 
}

.confirmation h3 {
  color: var(--grey);
  font-family: var(--lora);
  text-align: center;
}

.confirmation h4 {
  padding-bottom: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.confirmation p {
  text-align: left;
  color: var(--grey);
  font-family: var(--poppins);
  padding: 0;
  font-size: 17px;
 line-height: 1rem;
 
}

p.sorry {
  text-align: center;
  padding: 1rem;
}

.sorry em {
  font-size: 15px;
  color: var(--orange);
  font-family: var(--lora);
  text-decoration: underline;
  padding: 5px;
}

.sorry em:hover {
  color: var(--grey)
}

.confirmation p span {
  color: var(--orange);
  text-decoration: underline;
}

.confirmation form label {
  color: var(--grey);
  font-family: var(--poppins)
}

.confirmation .details {
  display: flex;
  flex-direction: column;
}

.confirmation form input {
padding: 0.7rem;
border: 1px solid var(--orange);
border-radius: 2px;

}

button.book {
  float: right; /* This will float the button to the right within its container */
  margin: 1rem;
  color: var(--navyellow);
  background-color: var(--orange);
  padding: 0.5rem;
  border: 1px solid var(--orange);
  border-radius: 3px;
  margin-top: 2rem;
  
}

button.book:hover {
  color: var(--orange);
  background-color: var(--navyellow);
  border: 1px solid var(--navyellow);
}

/* About */

.about p {
text-align: center;
font-size: 22px;
color: var(--grey);
font-family: var(--montserrat)
}

.about ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  list-style-type: none;
  padding: 1rem;
  margin: 1rem;
  padding-top: 0;
  margin-top: 0;
  
}

.about ul li {
  color: red;
  font-family: var(--lora);
  padding: 1rem;
  border-left: 1px solid var(--orange);
}

.about ul li span {
  color: #00796B
}

.about ul li span:hover {
  color: var(--orange)
}

.about .business {
  text-align: center;
}
.about h2 {
  text-align: center;
  font-family: var(--poppins);
  padding-bottom: 0;
 color: var(--orange)
}

.embed {
  border: 1px solid var(--orange);
  border: 1px solid #00796B;
  padding: 1rem;
  height: 300px;
  
 
}

/* Contact Page */
.contact {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  background-color: #FCFCFA;
  border-bottom: 1px solid var(--orange);
}

.contact-one {
  flex:1;
  padding: 1rem;
}

.contact-one ul {
  list-style-type: none;
  margin-left: 5rem;
  font-family: var(--montserrat)
}

.contact-one ul li {
  padding: 1rem;
}

.contact-one ul li a {
text-decoration: none;
}

.contact-one ul li a span:hover {
  color: var(--orange);
}
.contact ul li a svg {
  color: var(--orange);
  padding-right: 2px;
}

.contact ul li a svg:hover {
  color:#00796B;
}

.contact ul li a span {
  color:#00796B;
  margin-bottom: 5px;
}
.contact-one p {
  text-align: center;
  font-family: var(--lora);
  font-size: 20px;
  color: var(--orange);
  text-decoration: underline;
  
}

.contact-one p:hover {
  color: #00796B;
}

.contact-two {
  flex: 2;
  display: flex;
  flex-direction: column;
  border-left: 1px solid var(--orange);
  padding: 1rem;
}

.contact-two form {
  display: flex;
  flex-direction: column;
  background-color: #FCFCFA;
  padding: 2rem;
  padding-top: 0;
}

.contact-two h3,
.contact-one h3 {
  color: var(--grey);
  font-family: var(--lora);
  text-align: center;
  text-decoration: underline;
}

.contact-two form label {
  color: var(--grey);
  font-family: var(--poppins)
}

.contact-two form input,
.contact-two form textarea {
  padding: 0.7rem;
border: 1px solid var(--orange);
border-radius: 2px;
margin-bottom: 7px;
}

.contact-two .button-wrapper {
  display: flex;
  justify-content: flex-end; 
}
.contact-two form button {
  margin: 1rem;
  color: var(--navyellow);
  background-color: var(--orange);
  padding: 0.5rem;
  border: 1px solid var(--orange);
  border-radius: 3px;
  margin-bottom: 2rem;
  width: 100px;
  /* Align items to the right */
}

.contact-two form button:hover {
  color: var(--orange);
  background-color: var(--navyellow);
  border: 1px solid var(--navyellow);

}


 /* Responsive Design */
 @media (max-width: 768px) {
  div.navbar {
    margin: 0;
    width: 100%;
    height: 60px;
  }

  nav {
    flex-direction: row;
   
  }

  nav img {
   height:60px;
   width: auto;
  }

  .hamburger {
    display: flex;
  justify-content: flex-end; 
  }
  
  .hamburger-menu {
    display: block;
    color: var(--grey);
    margin-right: 0;
  }
  
  .nav-links {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #fff; /* Adjust as needed */
    position: absolute;
    top: 60px; /* Adjust as needed */
    left: 0;
    transition: max-height 0.3s ease;
    max-height: 0;
    overflow: hidden;
  }
  
  .nav-links.open {
    max-height: 300px; /* Adjust as needed */
    display: flex;
  justify-content: flex-end; 
  }
  
  .nav-links li {
    width: 100%;
  }
  
  .nav-links a {
    padding: 15px;
    display: block;
    text-align: center;
  }
}

/* Homepage */
@media (max-width: 768px) {
  .slideshow-container {
    max-width: 100%;
  }

  .slideshow-container img {
    max-width: 100%;
    padding: 0;
    margin: 0;
  }
}